.popup0-menu {
    display: none;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    min-width: 450px;
    border-radius: 30px;
    padding-bottom: 20px;
    color: rgb(6, 6, 6);
}

.popup0-charts {
    background-color: rgb(255, 255, 255);
    color: rgb(28, 29, 36);
    line-height: 30px;
    padding-right: 10%;
}

#clos {
    cursor: pointer;
    padding: 7px;
    color: rgb(252, 252, 252);
    margin-left: 35%;
    text-align: center;
    background-color: rgb(143, 140, 139);
    width: 30%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    z-index: 10;
}