<v-container fluid pa-0>

    <v-row no-gutters class="my-3">
      <v-col cols="12" sm="12" class="text-center">
        <h1>FADO</h1>
      </v-col>
    </v-row>

    <v-row no-gutters>
      <v-col cols="12" sm="12" class="navbar">
        <ul>
          <li class="ml-5"><a href="#">File</a></li>
          <li><a href="#">Setup</a></li>
          <li><a href="#">Extra</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </v-col>
    </v-row>

    <v-container>
      <v-row no-gutters>
        <v-col sm="12" md="4" class="text-center mt-5">
          <h2>Layer 1</h2>
          <div id="txs">proessed {{this.txsCount11}} TXs/sec</div>
          <div id="inflow" class="mt-3 py-3">
            <div id="inflowLayer1">
            </div>
          </div>
        </v-col>
        <v-col sm="12" md="8">

          <v-row no-gutters justify="center" align="center" class="layers">
            
             <v-col sm="6" class="text-center">
               <span class="dot1 dot">
                 <span class="dot2 dot">
                   <span class="dot3 dot">
                     <span class="dot4 dot"></span>
                   </span>
                 </span>
               </span>
             </v-col>
           
          </v-row>
         

            
          <v-row no-gutters>
            <v-col sm="12" md="5" class="text-center">
              <h2>Layer 2</h2>
              <div id="txs">proessed {{this.txsCount22}} TXs/sec</div>
              <div id="layer2" class="mt-3 py-3">
                <div id="outflowLayer2"></div>
              </div>
            </v-col>

            <v-col sm="12" md="4" class="text-center mt-10">
              <h2>Layer 3</h2>
              <div id="txs">proessed {{this.txsCount33}} TXs/sec</div>
              <div id="layer3" class="mt-3 py-3">
                <div id="outflowLayer3"></div>
              </div>
            </v-col>

            <v-col sm="12" md="3" class="text-center mt-15 pt-5">
              <h2>Layer 4 </h2>
              <div id="txs">proessed {{this.txsCount44}} TXs/sec</div>
              <div id="layer4" class="mt-3 py-3">
                <div  id="outflowLayer4">
                  
                  

                </div>
              </div>
            </v-col>
          </v-row>



        </v-col>
      </v-row>
    </v-container>


 

  </v-container>